header {
  padding-block: 32px;
  font: var(--text-md);
}

header .container{
  display: flex;
  align-items: center;
}

#profile {
  display: flex;
  gap: 32px;
    align-items: center;
}

#profile>div {
  width: 384px;
}

#profile h1 {
  font: var(--text-lg);
  color: var(--text-color-primary);
  margin-bottom: 8px;
}



#info {
  list-style: none;
  flex-direction: column;
  display: flex;
  gap: 16px;
  margin: auto;
  
}

#info li {

  display: flex;
  align-items: center;
  gap: 8px;
  
}